@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 기본 공통 설정 */
* {
  transition:
    background-color 1s ease,
    color 1s ease,
    border-color 1s ease,
    box-shadow 1s ease;
}

body {
  background: var(--bg-gradient);
  background-attachment: fixed;
  min-height: 100vh;
  color: var(--text-main);
  transition:
    color 1s,
    background-color 1s,
    box-shadow 1s;
  position: relative;
  z-index: 0;
}

/* 전체 페이지 */
.page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px 20px;
  align-items: center;
  gap: 30px;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
  container-type: inline-size;
}

/* 상단 헤더 영역 */
.introduction {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 120px;
  background: var(--glass-bg);
  backdrop-filter: blur(15px);
  border: 1px solid var(--glass-border);
  padding: 30px 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  box-shadow: var(--box-shadow);
}

.dark-mode-toggle {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  box-shadow: var(--mini-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-mode-toggle svg {
  width: 24px;
  height: 24px;
}

.nickname {
  margin-bottom: 12px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-main);
  line-height: 2.6rem;
}

.nickname-name {
  font-size: 2rem;
  font-weight: 800;
  color: var(--point-pink);
}

.date {
  font-size: 1rem;
  color: var(--text-light);
  font-weight: 700;
}

/*  히어로 섹션 */
.phrase {
  text-align: center;
  margin-bottom: 130px;
}

.phrase-header {
  font-size: 2.7rem;
  font-weight: 800;
  color: var(--text-main);
  margin-bottom: 24px;
  text-shadow: var(--input-bg);
}

.phrase-text {
  font-size: 1rem;
  color: var(--text-light);
  word-break: keep-all;
  overflow-wrap: break-word;
  line-height: 1.6;
  margin: 0 15px;
  font-weight: 600;
}

/*  통계 카드 */
.total-sorting {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.total-item {
  flex: 1 1 185px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: transform 0.3s ease;
  background: var(--glass-bg);
  backdrop-filter: blur(12px);
  border: 1px solid var(--glass-border);
  box-shadow: var(--box-shadow);
}

.total-item:hover {
  transform: translateY(-5px);
  background: var(--glass-hover);
}

.total-title {
  display: block;
  font-size: 0.85rem;
  color: var(--text-medium);
  margin-bottom: 10px;
}
.total-number {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-main);
}

/*  컨트롤 바 (검색/필터/버튼) */
.control-bar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  padding: 18px;
  background: var(--glass-bg-item);
  backdrop-filter: blur(20px);
  border: 1px solid var(--glass-border);
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  container-type: inline-size;
  z-index: 2;
}

.search-wrap {
  flex: 2 1 260px;
  height: 44px;
  display: flex;
  align-items: center;
  padding-right: 15px;
  background: var(--input-bg);
  backdrop-filter: blur(12px);
  border: 1px solid var(--glass-border);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.search-wrap input {
  height: 100%;
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding-left: 16px;
  color: var(--text-main);
}

.search-wrap:focus-within {
  border-color: var(--point-pink);
  box-shadow: 0 4px 15px var(--neon-glow);
}

.search-icon {
  height: 100%;
  width: 42px;
}

.dropdown-toggle {
  z-index: 2;
}
/* 드롭다운 + 토글 */
.dropdown-toggle {
  position: relative;
}
.dropdown-toggle,
.toggle-btn {
  flex: 1 1 126px;
  height: 42px;
  background: var(--input-bg);
  backdrop-filter: blur(12px);
  border: 1px solid var(--glass-border);
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--text-medium);
  /* font-weight: 700; */
  box-shadow: var(--box-shadow);
}

/* 드롭다운 버튼 */
.dropdown-trigger {
  border: inherit;
  padding: 0 12px;
  border-radius: 10px;
  font-weight: 600;
  color: inherit;
  width: 100%;
  height: 42px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}
.dropdown-trigger:hover {
  background: var(--glass-hover);
  box-shadow: 0 0px 15px var(--neon-glow);
}
.dropdown-toggle .arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
.dropdown-toggle.active .arrow {
  transform: rotate(180deg);
}

/* 드롭다운 메뉴 */
.dropdown-menu {
  position: absolute;
  top: calc(100% + 2px);
  width: 100%;
  background: var(--drop-down);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 8px;
  z-index: 1;

  /* 애니메이션 초기 상태 */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

/* 드롭다운 활성화 시 메뉴 표시 */
.dropdown-toggle.active .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* 메뉴 아이템 스타일  */
.dropdown-item {
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 0.95rem;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-item:hover {
  background: #f3e5f5;
  color: var(--point-pink);
  font-weight: 600;
}

/* sort */
.toggle-btn {
  border-radius: 30px;
}
.dropdown-trigger:focus {
  border-color: var(--point-pink);
  box-shadow: 0 4px 15px var(--neon-glow);
}

/* 새 할 일 버튼 */
.new-btn {
  flex: 4 1 100px;
  height: 42px;
  background-color: var(--point-pink);

  border: 1px solid var(--glass-hover);
  border-radius: 10px;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition:
    transform 0.3s ease,
    box-shadow 0.2s ease,
    background-color 0.3s ease;
}

.new-btn:hover {
  color: #fff;
  background: #ff008c;
  text-shadow:
    0 0 4px var(--neon-color),
    0 0 8px var(--neon-glow);
  box-shadow:
    0 0 8px var(--neon-glow-light),
    0 0 16px var(--neon-glow-light);
  transform: translateY(-3px);
}

/*  정렬 및 칸반 보드 */
.sequence {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 12px;
  color: var(--text-medium);
  font-weight: 700;
  /*  ! ! ! */
  cursor: pointer;
}
.sequence-content {
  padding: 6px 12px;
  border-radius: 20px;
  box-shadow: 0 0px 2px 2px var(--neon-glow-light);
}
.all-delete {
  background: none;
  border: none;
  color: var(--point-pink);
  font-weight: 600;
  padding: 6px 12px;
}

.progress-wrap {
  width: 100%;
  max-width: 1200px;
  container-type: inline-size;
}
.progress-box {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.progress-box > * {
  flex: 1 1 266px;
  transition: transform 0.3s ease;
}
.progress-box > *:hover {
  transform: translateY(-5px);
}

.todo-item,
.progress-item,
.Done-item {
  background: var(--glass-bg-item);
  backdrop-filter: blur(20px);
  border: 1px solid var(--glass-border);
  border-radius: 10px;
  padding: 30px 18px;
  min-height: 300px;
  box-shadow: 0 8px 32px var(--glass-hover);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--text-main);
  padding-bottom: 15px;
  margin-bottom: 50px;
  color: var(--text-main);
  transition:
    border-color 0.3s ease,
    color 0.3s ease;
}

.card-hover:hover .card-header {
  border-bottom-color: var(--point-pink);
  color: var(--point-pink);
}
/* 카드 특수 효과 */
.card-hover {
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.card-hover::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(transparent, var(--point-pink), transparent 30%);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.card-hover:hover::before {
  opacity: 1;
  animation: rotate-border 3s linear infinite;
}
@keyframes rotate-border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-hover::after {
  content: "";
  position: absolute;
  inset: 2.8px;
  background: var(--card-mask-bg);
  border-radius: 6px;
  z-index: 1;
}

.card-hover > * {
  position: relative;
  z-index: 2;
}

.card-header > span {
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 3px rgba(51, 49, 58, 0.3);
  border-radius: 40px;
}

/* 없앨 요소 */
.empty {
  text-align: center;
  font-weight: bold;
  color: #888;
}

/* 할일 리스트 목록 */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* 카드 1개 */
.task-card {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 14px;
  padding: 22px 22px;
  box-shadow: 0 6px 22px rgba(60, 52, 95, 0.12);

  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* 태그 모음 */
.task-tag-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 태그 기본 구조 */
.task-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 10px;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: 800;
  letter-spacing: -0.2px;

  background: rgba(255, 77, 166, 0.12);
  color: var(--point-pink);
}

/* medium(중간) 태그 컬러 */
.task-tag.medium {
  background: rgba(255, 167, 38, 0.16);
  color: #ff9800;
}

/* 텍스트 영역 */
.task-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* 제목 */
.task-title {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--text-main);
  letter-spacing: -0.4px;
}

/* 내용 */
.task-desc {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--text-light);
  line-height: 1.4;
}

/* 날짜 영역 */
.task-footer {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 날짜 텍스트 */
.task-date {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-size: 0.9rem;
  font-weight: 700;
  color: #9aa0aa;
}

/* svg 아이콘 공통 */
.task-footer svg {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  opacity: 0.7;
}

/* 추가 테스크 */
.task-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.task-status-select {
  height: 34px;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 0.85rem;
  font-weight: 700;
}

.task-delete-btn {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  border: 1px solid var(--glass-border);
  background: var(--input-bg);
  cursor: pointer;
  font-weight: 900;
  color: var(--text-medium);
}

.task-delete-btn:hover {
  border-color: var(--point-pink);
  color: var(--point-pink);
  box-shadow: 0 0 0 3px var(--neon-glow-light);
}

@container (max-width: 555px) {
  .search-wrap {
    flex-basis: 100%;
  }
  .new-btn {
    flex-basis: 400px;
  }
}

@container (max-width: 469px) {
  .introduction {
    gap: 100px;
  }
}
@container (max-width: 420px) {
  .introduction {
    gap: 60px;
  }
}
