@property --grad-1 {
  syntax: "<color>";
  initial-value: #ffeaec;
  inherits: false;
}
@property --grad-2 {
  syntax: "<color>";
  initial-value: #f3f3ff;
  inherits: false;
}
@property --grad-3 {
  syntax: "<color>";
  initial-value: #f3f3ff;
  inherits: false;
}
@property --grad-4 {
  syntax: "<color>";
  initial-value: rgba(221, 208, 217, 0.4);
  inherits: false;
}
@property --grad-5 {
  syntax: "<color>";
  initial-value: rgba(178, 190, 255, 0.3);
  inherits: false;
}

:root {
  --grad-1: #ffeaec;
  --grad-2: #f3f3ff;
  --grad-3: #f3f3ff;
  --grad-4: rgba(221, 208, 217, 0.4);
  --grad-5: rgba(178, 190, 255, 0.3);
  --floor: url(../img/floor.png);
  --date: #9aa0aa;
  --dateh: #c74d7b;

  --scroll-thumb: rgba(160, 160, 160, 0.15);
  --scroll-thumb-hover: rgba(120, 120, 120, 0.55);

  /* 메인 색상 */
  /* --text-main: #33313a; */
  --text-main: #3a3744;
  --text-medium: #666666;
  --text-light: #888888;
  --text-bright: #ffffff;
  --done-text-light: #000000;

  --point-pink: #dd007b;

  --drop-down: rgba(255, 255, 255, 0.7);
  --drop-background: rgba(199, 77, 124, 0.5);
  --drop-hover: #f3e5f5;
  --tag: rgba(221, 0, 122, 0.16);
  --border: rgba(fff);

  /* 배경 및 글래스 효과 */
  --bg-gradient: radial-gradient(
    circle at top left,
    #ffeaec,
    #f3f3ff,
    #f3f3ff,
    rgba(221, 208, 217, 0.4),
    rgba(178, 190, 255, 0.3)
  );
  --bg-image: url("../img/Light_Background_Image.png");

  --glass-bg: rgba(255, 255, 255, 0.2);
  --glass-bg-item: rgba(255, 255, 255, 0.15); /* 칸반 아이템용 */
  --glass-hover: rgba(255, 255, 255, 0.5);
  --glass-border: rgba(255, 255, 255, 0.4);
  --input-bg: rgba(255, 255, 255, 0.3);
  --card-mask-bg: #f3f3ff;

  /* 그림자 및 네온 */
  --box-shadow: 0 0 8px 0 rgba(113, 106, 139, 0.2);
  --mini-shadow: 0 0 6px 0 rgba(60, 52, 95, 0.3);
  --mb-mini-shadow: rgba(60, 52, 95, 0.3);
  --modal-shadow: 0 0 4px 0 rgba(92, 83, 129, 0.2);
  --neon-color: #dd007b;
  --neon-glow: rgba(221, 0, 123, 0.4);
  --neon-glow-light: rgba(221, 0, 123, 0.25);

  --card-shadow: rgba(83, 73, 148, 0.3);

  /* 모달 */
  --save-color: #5c5cfc;
  --save-hover: #4a4ae0;
  --bg-glass: rgba(255, 255, 255, 0.73);
  --border-glass: rgba(255, 255, 255, 0.062);
  --input-bg: #f9f9f9;
  --text-main: #333;
  --m-boder: #eee;
  --dm-boder: #eee;
  --m-shadow: #fff;
  --m-glass-bg: rgba(255, 255, 255, 0.73);
  --m-box-shadow: rgba(0, 0, 0, 0.5);
  --m-drop-background: #f5e4f87a;
  --m-clear-btn: rgba(224, 224, 224, 0.5);
  --m-clear-color: #555;

  --pink-btn: #ffdef0;
  --green-btn: #d3ffed;
  --yllow-btn: #ffedd3;

  --d-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  --overlay-shadow: 0 8px 32px rgba(80, 80, 80, 0.4);
  --d-overlay-shadow: rgba(80, 80, 80, 0.4);

  --toogle-buttem: rgba(80, 80, 80, 0.4);
  --sun: 0 0 10px #ff3c00d5;
}

/* 다크 모드 설정 */
:root.dark-mode {
  --grad-1: #ffeaec;
  --grad-2: #f3f3ff;
  --grad-3: #f3f3ff;
  --grad-4: rgba(221, 208, 217, 0.4);
  --grad-5: rgba(178, 190, 255, 0.3);
  --floor: none;

  --drop-down: rgba(0, 0, 0, 0.7);
  --drop-background: #f3e5f5;
  --drop-hover: rgba(173, 140, 179, 0.2);
  --tag: rgba(173, 140, 179, 0.2);
  --border: rgba(179, 170, 201, 0.2);

  --scroll-thumb: rgba(255, 255, 255, 0.14);
  --scroll-thumb-hover: rgba(255, 255, 255, 0.3);

  --text-main: #f3f3ff;
  --text-medium: #cccccc;
  --text-light: #aaaaaa;
  --done-text-light: #aaaaaa;
  --bg-image: url("../img/Dark_Background_Image.png");
  --bg-gradient: radial-gradient(circle at top, #1a1a2e, #05050a);

  --mini-shadow: 0 0 5px 0 rgba(160, 147, 219, 0.5);
  --mb-mini-shadow: rgba(160, 147, 219, 0.5);
  --glass-bg: rgba(0, 0, 0, 0.3);
  --glass-bg-item: rgba(0, 0, 0, 0.2);
  --glass-hover: rgba(22, 21, 24, 0.4);
  --glass-border: rgba(255, 255, 255, 0.1);
  --card-mask-bg: #1a1a1a;
  --input-bg: rgba(0, 0, 0, 0.2);

  --card-shadow: rgba(0, 0, 0, 0.4);

  /* 모달 */
  --m-shadow: 0 0 2px #ffffff;
  --bg-glass: rgba(255, 255, 255, 0.1);
  --m-box-shadow: rgba(0, 0, 0, 0.5);
  --m-glass-bg: rgba(0, 0, 0, 0.5);
  --m-drop-background: rgba(8, 5, 8, 0.2);
  --modal-shadow: 0 0 4px 0 rgba(92, 83, 129, 0.2);
  --m-clear-btn: rgba(29, 29, 29, 0.5);
  --m-clear-color: #a5a5a5;
  --pink-btn: rgba(36, 23, 33, 0.5);
  --green-btn: rgba(23, 41, 38, 0.5);
  --yllow-btn: rgba(53, 41, 25, 0.5);
  --overlay-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  --d-overlay-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  --m-boder: rgba(238, 238, 238, 0.5);
  --dm-boder: rgba(238, 238, 238, 0.2);

  --sun: 0 0 10px #ffa600;
}
